packages:
    rpm:
        epel: 'https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm'

files:
    /tmp/renew_cert_cron:
        mode: "000777"
        owner: root
        group: root
        content: |
            0 23 * * 6 certbot renew --no-self-upgrade

container_commands:
    00_install_certbot:
        test: test ! -d "/etc/letsencrypt/"
        ignoreErrors: true
        command: "sudo yum install -y certbot python2-certbot-nginx"
    10_create_cert_crontab:
        test: test -f '/tmp/renew_cert_cron'
        command: "sudo crontab /tmp/renew_cert_cron"
    20_delete_cronjob_file:
        command: "sudo rm /tmp/renew_cert_cron"
        ignoreErrors: true
